# ignore all
/*

# don't ignore gitignore
!/.gitignore

# don't ignore readme
!/readme.org

# don't ignore setup files
!/*.setup

# don't ignore css files
!/*.css

# don't ignore scripts dir
!/scripts
