# ignore all
/*

# don't ignore gitignore
!/.gitignore

# don't ignore readme
!/readme.org

# don't ignore html files
!/html
!/html/css
!/html/scripts
!/html/*.setup

# don't ignore latex files
!/latex
!/latex/*.setup

