html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.theme-dark {
    --color-fg: white;
    --color-bg: #272935;
    --color-bg-alt: #33363B;
    --font-color: white;

    --toc-a-first: #D9D9D9;
    --toc-a-second: #BBB;
    --toc-a-third: #999;

    --legend-color: gray;
}

.theme-light {
    --color-fg: black;
    --color-bg: #DCD7CE;
    --color-bg-alt: #CECAC0;
    --font-color: black;

    --toc-a-first: #444;
    --toc-a-second: #888;
    --toc-a-third: #BBB;

    --legend-color: gray;
}

body {
    /* background-color: #192024; */
    /* background-color: #2b3240; */
    /* background: url(./img/Kakariko.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    background-color: var(--color-bg);
}

main {
    margin: 0 auto;
    max-width: 90rem;
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.6);
}

.widget > img {
    position: relative;
    border: 2px solid var(--color-fg);
    max-width: 80%;
    max-height: 80%;
}

.figure-number,
.table-number {
    color: var(--legend-color);
    font-style: italic;
}

.figure img:hover {
    border-color: var(--color-bg-alt);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: .4s;
    cursor: pointer;
}

.figure img {
    display: block;
    border: 2px solid var(--color-fg);
    border-radius: 10px;
    max-width: 70%;
    max-height: 40rem;
    margin: 2rem auto 0 auto;
    transition: .6s;
}

#content ul {
    margin: 0 2rem;
    list-style: square inside;
}

pre {
    overflow: auto;
}

#content a,
#content li {
    color: var(--color-fg);
}

#content .figure > p {
    text-align: center;
    font-size: 120%;
    margin-bottom: 1rem;
}

#content .figure > p:last-child {
    margin-bottom: 2rem;
}

#content {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    max-width: 70rem;
    /* margin: 0 auto; */
    /* left: 20rem; */
    margin-left: 20rem;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-bottom: 5em; */
}

#content p {
    color: var(--font-color);
    padding: 0 2rem;
    margin-top: 1rem;
    font-variant: tabular-nums;
    letter-spacing: .05em;
    line-height: 1.4em;
}

#table-of-contents {
    /* flex: 1 1 100%; */
    float: left;
    display: flex;
    flex-wrap: no-wrap;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    position: sticky;
    height: 100vh;
    /* overflow-y: scroll; */
    /* border-bottom: solid 1px white; */
    /* border-top: solid 1px white; */
    /* border-right: solid 2px white; */
    /* margin-bottom: 5rem; */
    /* padding: 2em 0; */
    min-width: 20rem;
    width: 20rem;
    top: 0;
    /* left: 0; */
    /* bottom: 0; */
    /* background-color: #20252e; */
}

#text-table-of-contents {
    order: 3;
    border-top: 2px solid var(--color-fg);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#text-table-of-contents::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#table-of-contents h2 {
    /* color: #FFFFFF; */
    font-size: 120%;
    text-align: center;
    text-align: center;
    padding: 1em 0;
    color: var(--font-color);
    border-top: 2px solid var(--color-fg);
    border-bottom: 2px solid var(--color-fg);
    order: 1;
    /* background-color: #20252e; */
    /* background-color: #e6e6e6; */
    /* border-bottom: solid 10px gray; */
}

#table-of-contents a:hover {
    border-color: #9fc9d4;
    background-color: rgba(255, 255, 255, 0.2);
    transition: .3s;
}

#theme-switcher {
    border-radius: none;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1em 2em;
    padding: 0.5em;
    border: solid 2px var(--color-fg);
    color: var(--font-color);
    transition: .3s;
    order: 2;
}

#theme-switcher:hover {
    margin: 1em;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#table-of-contents a {
    position: relative;
    color: var(--font-color);
    text-decoration: none;
    width: 100%;
    padding: .5rem 2rem .5rem 1rem;
    box-sizing: border-box;
    display: block;
    font-size: 90%;
    /* //background-color: #161a21; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-right: solid 30px var(--toc-a-first);
    /* background: linear-gradient(to left, rgba(0, 0, 0, 0.7), #1c222e 60%, #1c222e); */
}

#table-of-contents li ul li ul li a {
    padding-left: 3rem;
    /* background-color: #20252e; */
    border-right: solid 10px var(--toc-a-third);
}

#table-of-contents li ul li a {
    padding-left: 2rem;
    /* background-color: #333b47; */
    border-right: solid 20px var(--toc-a-second);
}

.outline-2 {
    /* padding-left: 4em; */
    /* flex: 1 1 60%; */
    /* background-color: #2b3240; */
    border-radius: 0 2rem 1rem 0;
    padding-bottom: 2rem;
    transition: .5s;
    border-left: solid 2px var(--color-fg);
}

.outline-2:hover {
    /* background-color: #1c222e; */
    border-radius: 0 0 1rem 0;
    transition: .5s;
}

.outline-2:hover > h2 {
    border-radius: 0;
    transition: .5s;
}

.title {
    /* flex: 1 1 100%; */
    flex-grow: 100%;
    text-align: center;
    color: var(--font-color);
    padding: 7rem 0;
    font-size: 350%;
    box-sizing: border-box;
    /* background: linear-gradient(0.25turn, #20252e, #2b3240); */
    /* background-color: #20252e; */
    /* border-radius: 0 0 4rem 0; */
    /*-border-left:-solid-1px-white;-*/
    font-variant: small-caps;
    letter-spacing: .4rem;
    text-shadow: 1px 1px 3px black;
    transition: .5s;
}

.title:hover {
    letter-spacing: .8rem;
    transition: .5s;
}

.outline-2:nth-child(2n) {
    background-color: var(--color-bg-alt);
    border-radius: 0 72px 0 0;
}

.outline-2:before {
    content: "";
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    width: 30%;
    height: 2px;
    border-top: 2px solid var(--color-fg);
}

.outline-2 h2 {
    /* background-color: #e6e6e6; */
    color: var(--font-color);
    padding-right: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    border-radius: 0 2rem 2rem 0;
    font-size: 150%;
    /* margin-bottom: 2rem; */
    margin-left: 0;
    padding-left: 2rem;
    transition: .5s;
    /* border-bottom: solid 10px gray; */
}

.outline-2 h2 span::after,
.outline-2 h3 span::after,
.outline-2 h4 span::after {
    content: " - ";
}
    
.outline-3 h3,
.outline-2 h4 {
    font-size: 120%;
    /* margin: 2rem 0; */
    margin-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    color: var(--font-color);
    padding-left: 2rem;
}

p {
    /* text-align: justify;     */
}

code {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-fg);
    padding: 2px;
    font-family: monospace;
}

pre.src {
    color: white;
    border: 2px solid #e6e6e6;
    padding: 2em;
    margin: 2rem;
    background-color:#192024;
    line-height: 1.5em;
    font-family: monospace;
}

pre.example:hover {
    border-left: 20px solid var(--toc-a-first);
    transition: .2s;
}

pre.example {
    border-left: 10px solid var(--toc-a-first);
    padding: 1rem;
    margin: 0 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-fg);
    transition: .2s;
    font-family: monospace;
}

table {
    margin: 1rem auto;
    overflow: auto;
}

table td {
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid var(--color-fg);
    color: var(--color-fg);
    font-family: monospace;
}

table > caption {
    /* transform: translateX(-33%); */
    /* white-space: nowrap; */
    font-size: 120%;
    margin: 1rem;
    margin-top: 0;
    color: var(--color-fg);
}

#postamble .validation {
    display: none;
}

#postamble p {
    margin-right: 1rem;
    font-size: 80%;
    font-family: monospace;
}

#postamble {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: solid 1px var(--color-fg);
    color: var(--font-color);
}

@media (max-width: 840px) {
    main {
	flex-direction: column;
    }
    #content {
	margin-left: 0;
    }
    #table-of-contents h2:hover {
	cursor: pointer;
    }
    #table-of-contents {
	background-color: var(--color-bg);
	float: none;
	width: 100%;
	height: auto;
	top: 0;
	z-index: 2000;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: center;
	border-bottom: 2px solid var(--color-fg);
	border-top: 2px solid var(--color-fg);
	justify-content: space-between;
    }
    #table-of-contents h2 {
	border: none;
	border-right: 2px solid var(--color-fg);
	width: 20rem;
	background-color: var(--color-bg-alt);
    }
    #text-table-of-contents {
	visibility: hidden;
	order: 3;
	flex-grow: 100%;
	min-width: 20rem;
	width: 20rem;
	position: fixed;
	background-color: var(--color-bg);
	border-right: 2px solid var(--color-fg);
	bottom: 0;
    }
    .title {
	font-size: 200%;
    }
    #theme-switcher {
	margin: 0 1rem;
    }
    #theme-switcher:hover {
	margin: 0 1rem;
    }
    .outline-2:nth-child(1):before {
	border: none;
    }
    .outline-2 {
	border-left: none;
    }
}

@media (max-width: 500px) {
    #postamble {
	flex-direction: column;
    }
    .title {
	font-size: 180%;
	letter-spacing: 0;
    }
    .title:hover {
	letter-spacing: 0;
    }
}
